In [1]:
import talib
print(talib.__version__)

ModuleNotFoundError: No module named 'talib'

In [4]:
df1=pd.read_csv('data/yfinance_data/AAPL_historical_data.csv')
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [11]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1.set_index('Date', inplace=True)

In [13]:
import talib as ta

# Calculate Simple Moving Average (SMA)
df['SMA_20'] = talib.SMA(df['Close'], timeperiod=20)

# Calculate Exponential Moving Average (EMA)
df['EMA_20'] = talib.EMA(df['Close'], timeperiod=20)

ModuleNotFoundError: No module named 'talib'